.App {
  text-align: center;
  }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.actor-grid {
  background-color: rgba(7, 7, 117, 0.806);
  padding-top: 2%;
}
.actorCard {
  display: inline-block;
  background-color: rgba(126, 120, 112, 0.687);
  min-width: 275px;
  max-width: 400px;
  margin: 1%;
  padding: 0%;
  padding-top: 1%;
  border-radius: 3%;
  border-style: none;
}
.actorCard:hover {
  
  transform: scale(1.1);
  box-shadow: 0 0px 15px -5px;
}
.actorCardImage {
  display: block;
  width: auto;
  margin: auto;
  border-radius: 10%;
  border-style: none;
}
