html {
    font-family:monospace;
}
.text {
    font-weight: 600;
    font-size: large;
}
.banner {
    display: block;
    justify-self: center;
    width: 100%;
    margin: auto;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    
}




